.header {
    background-color: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #ddd;
    text-decoration: none;
}

.body .sider{
    width: 150px;
    background: #323232;
    color: #ddd;
    top: 56px;
    height: calc(100vh - 56px);
    position: fixed;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}
.body .main{
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

.inner-menu {
    padding: 10px;
}

.inner-menu ul {
    list-style: none; 
    padding: 0; 
}

.inner-menu li {
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.inner-menu a {
    display: block; 
    padding: 10px 15px; 
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 500;
    border-radius: 4px; 
    transition: background-color 0.3s;
}

.inner-menu a:hover {
    background-color: #495057; 
}

/* Active link styling */
.inner-menu a.active {
    background-color: #007bff; 
    font-weight: bold; 
}


.message.info [show-alert] {
    position: fixed;
    width: 300px;
    top: 10px;
    right: 15px;
    z-index: 9999;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
[show-alert].alert-hidden {
   animation-name: alert-hidden;
   animation-duration: 0.5s;
   animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

.message.info [show-alert] [close-alert] {
    background: wheat;
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    color: #202020;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust this to align vertically */
    right: 10px; /* Position it at the right corner */
}
.upload-image-preview {
    max-width: 150px;  
    max-height: 150px;
    border: 1px solid #ddd;  
    padding: 5px;  
    border-radius: 5px;  
    margin-top: 10px;  
  }
  .upload-image-preview[src=""]{
    display:none
  }